@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --translate-y: 300px;
}

/* CSS FOR HOME */

.mask-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask-image>div {
  position: absolute;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 150px 60px #5fcaff;
}


.mask-image>img {
  width: 250px;
  height: 250px;
  filter: brightness(1.1);
  mask-image: url("../assets/svg/mask.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}


/* CSS FOR PROJECTS */

.flow-path {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &>div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, white 40px);
    z-index: 10;
    translate: 0 var(--translate-y);
    animation: reveal linear;
    animation-timeline: scroll(root);
  }
}

.text-decoration {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@keyframes reveal {
  to {
    transform: translateY(calc(95% - 120px));
  }
}