@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask-image>div {
  position: absolute;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 150px 60px #5fcaff;
}


.mask-image>img {
  width: 250px;
  height: 250px;
  filter: brightness(1.1);
  mask-image: url("../assets/svg/mask.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}